

.container-fluid{
    padding: 0;
 }


h1{
    background:rgb(60, 18, 99);
    color:white;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

h2{
    text-align: center;
}

li{
    text-align: center;
    list-style: none;
}

.presentacion{
    font-size: 2rem;
    font-weight: bolder;

}

.card{
    min-height: 16em;
    padding: 2em;
    margin-top: 2em;

    
}

.card-color{
    background-color: aqua;
}

.carousel img{
    height:auto;
    max-height: 800px;   
}

.back-gris{
    background-color: rgb(189, 187, 187);
}

p{
    text-align: center;
}

h5{
    text-align: center;
}

.footer{
    background-color: rgb(60, 18, 99);
    color: white;
}

.footer-col{
    text-align: center;
    margin: 2em 2em;
    font-style: italic;
}