h1{
    background:rgb(60, 18, 99);
    color:white;
    padding-bottom: 1em;
    padding-top: 1em;
}

.presentacion{
    font-size: 2rem;
    font-weight: bolder;

}

.card{
    min-height: 16em;
    padding: 2em;
    margin-top: 2em;

    
}

.card-color{
    background-color: aqua;
}

